* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins, sans-serif;
}

.image-holder {
  clip-path: circle();
  width: 100px;
}
.pfp {
  /* position: relative; */
  width: 50%;
  scale: 4.5;
  margin-top: 50px;
  margin-left: 30px;
}
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6d9d9;
}
.profile-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
  background-color: #0d3a3f;
  height: 500px;
  width: 400px;
  box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 0 4px 3px rgba(0, 0, 0, 0.5);
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c6d9d9;
}
.intro {
  font-size: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 2rem;
  color: #c6d9d9;
  gap: 1rem;
}
.under-work,
.follow {
  font-size: 16px;
  text-align: center;
}
.links {
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
}
i{
  scale: 1.5;
}
a{
  color: #c6d9d9;
}
